<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap" rel="stylesheet">
<style>
/* title of the page */
h1 {
    text-align: center;
    font-size: 60px;
    color: white;
    text-shadow: 5px 5px 3px #999;
    font-family: 'Orbitron', sans-serif;
}
/* button that controls basic functions including user relation to space objects */
.compute button {
  background-color: transparent;
  border: 3px solid #C0ECAD;
  border-radius: 50px;
  color: white ;
  padding: 10px 24px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: "Helvetica";
  font-weight: bold;
}
.compute button:hover {
  background-color: gray;
}
body {
  /* background image is copyright free */
  background: url(https://images.unsplash.com/photo-1587465511660-05c929e0e874?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1651&q=80);
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}
label {
  font-size: 16px;
}
input[type=text] {
  background-color: transparent;
  color: white;
  border-radius: 50px;
}
p {
  color: white;
}
.textbox {
  font-family: "Helvetica";
  font-weight: 100;
  margin: 1px 10 10 30px;
  background: transparent;
  width: 100;
  height: 200px;
  margin:0 auto;
  text-align: center;
  color: white;
}
#rcorners1 {
  border-radius: 100px;
  background: transparent;
  border: 9px double #C0ECAD;
  width: 100;
  height: 200px;
  margin:0 auto;
  text-align: center;
  color: white;
}
#header2 {
  border-radius: 50px;
  opacity: 100;
  height: 50px;
  width: 600px;
  margin:0 auto;
  text-align: center;
  color: white;
  font-size: 30px;
  font-family: 'Orbitron', sans-serif;
  text-shadow: 2px 2px 2px #999;
}
#rcornersimg {
  border-radius: 50px;
  background: black;
  border: 9px double #484E5E;
  width: 500px;
  height: 500px;
  margin: 20px auto 50px auto;
  text-align: center;
  color: white;
  padding: 0 auto;
}
#rcorners2 {
   border-radius: 50%;
   background: #3F4457;
   opacity: 0.7;
   width: 475px;
   height: 400px;
   text-align: center;
   font-size: 16px;
   font-family: "Helvetica";
   font-weight: 100;
   line-height: 16px;
   margin: 30px auto 30px auto;
}
#rcorners3 {
  border-radius: 25px;
  background: white;
  width: 600px;
  height: 50px;
  margin:0 auto;
  text-align: center;
  box-shadow: 5px 5px 3px 1px #999;
}
.circletext {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  padding: 15px;
  font-size: 16px;
  font-family: 'Orbitron';
  font-weight: 100;
  color: black;
  text-align: center;
  background: #F4D03F;
  line-height: 16.5px;
}
.locationsearch {
  border-radius: 50px;
  background: transparent;
  border: 4px solid yellowgreen;
  width: 500px;
  height: 30px;
  margin:20px auto 10px auto;
  text-align: center;
  color: white;
  font-family: "Helvetica";
  font-weight: 100;
  padding: 15px 10px 4px 10px;
}
.footer {
   left:0; bottom:0; right:0;
   width: 100%;
   background-color: gray;
   opacity: 0.7;
   color: white;
   text-align: center;
   font-family: "Helvetica";
   font-weight: 100;
   margin-top: 100px;
}
.dropdownbutton {
  background-color: transparent;
  opacity: 0.7;
  color: white;
  padding: 15px;
  font-size: 18px;
  font-family: monospace;
  border-radius: 30px;
  border: 3px solid yellowgreen;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  opacity: 0.7;
  background-color: lightgray;
  min-width: 160px;
  border-radius: 25px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: darkgray;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropdownbutton {background-color: darkgray;}
</style>
</head>

<body>
  <h1>Can I see the ISS?</h1>

    <div id="map"> </div>

  <!--<div class="dropdown">
  <button class="dropdownbutton">Satellites</button>
  <div class="dropdown-content">
    <a href="#">Satellite 1</a>
    <a href="#">Satellite 2</a>
    <a href="#">Satellite 3</a>
  </div>
  </div>
  -->

  <style>
  /* style and size setting for the google map */
  #map {
    height:350px;
    width:100%;
  }
  .pac-card {
    margin: 0 auto;
    background-color: #fff;
    font-family: Helvetica;
    font-weight: 100;
  }
  </style>
  <br>
  <hr style="border: 4px double #C0ECAD;" />

  <div class="textbox">
    <form>
      <br>
      <!-- manual input box for user latitude -->
      <label>Latitude:</label>
      <input type="text" id="ulat"/>
      &emsp;
      <!-- manual input box for user longitude -->
      <label>Longitude:</label>
      <input type="text" id="ulong"/>
      &emsp;
    </form>
      <br>
      <div> OR </div>
      <br>
      <!-- user input for google autocomplete search bar -->
      <label>Enter a Location:</label>
      <!-- fields related to the google autocomplete search bar -->
      <input
      id="searchTextField"
      type="text"
      size="40"
      placeholder="Address"/>
      <br>
      <p id="comp"></p>
      <br>
      <div class="compute">
        <button onclick="myFunction(); calc(); latlonginput(); resetCounter(); counter(); reset(); markerPosition(); clouds();">COMPUTE</button>
      </div>
    <br>
    <hr style="border: 4px double #C0ECAD;" />
  </div>

  <br>


<!--  <div class=locationsearch>
     user input for google autocomplete search bar
    <label>Enter a location:</label>
     fields related to the google autocomplete search bar
    <input
    id="searchTextField"
    type="text"
    size="50"
    placeholder="Address"/>
  </div> -->


  <script>
    var maplat; // describes the latitude pulled from the google map
    var maplong; // describes the longitude pulled from the google map
    var marker; // describes the google map marker
    var map; // describes the google map
    /* function that initializes the google map, google autocomplete search bar,
    and the google map marker. takes no parameters. */
    function initMap() {
      var latlong = new google.maps.LatLng(38.031078, -78.512772); // default location for google map marker
      var options = {
        zoom: 12,
        center: latlong
      }
      map = new google.maps.Map(document.getElementById('map'), options);

      var input = document.getElementById('searchTextField'); // user input from the google autocomplete search bar
      var autocomplete = new google.maps.places.Autocomplete(input);

      // google map marker
      marker = new google.maps.Marker({
        position: latlong,
        map: map,
        draggable: true, // user can freely drag the marker around the map
        animation: google.maps.Animation.DROP // marker drops onto the screen
      });

      autocomplete.addListener('place_changed', function() {
        var place = autocomplete.getPlace();
        /* if the user enters an unknown address into the google autocomplete
        search bar an invalid address message will print */
        if (!place.geometry) {
          document.getElementById('comp').innerHTML = "Invalid address: " + input.value;
          return;
        }
        /* setting the bounds of the map according to user input and placing the
        marker at the user's provided address */
        map.fitBounds(place.geometry.viewport);
        marker.setPosition(place.geometry.location);
        marker.setVisible(true);

        maplat = marker.getPosition().lat(); // latitude from the google map
        maplong = marker.getPosition().lng(); // longitude from the google map
        document.getElementById('ulat').value = ""; // clearing the latitude input box
        document.getElementById('ulong').value = ""; // clearing the longitude input box
        userlat = maplat; // setting user latitude equal to the latitude pulled from the google map
        userlong = maplong; // setting user longitude equal to the longitude pulled from the google map
        document.getElementById('comp').innerHTML= "Address: " + input.value + ". Latitude and longitude: " + userlat + ", " + userlong;
      });

      /* allows the user to select a place on the map by clicking on the map */
      google.maps.event.addListener(map, 'click', function(event) {
        placeMarker(event.latLng);
        maplat = marker.getPosition().lat(); // latitude from the google map
        maplong = marker.getPosition().lng(); // longitude from the google map
        document.getElementById('ulat').value = ""; // clearing the latitude input box
        document.getElementById('ulong').value = ""; // clearing the longitude input box
        userlat = maplat; // setting user latitude equal to the latitude pulled from the google map
        userlong = maplong; // setting user longitude equal to the longitude pulled from the google map
        /* printing out the user latitude and longitude */
        document.getElementById('comp').innerHTML = "User latitude and longitude: " + userlat + ", " + userlong;
      });

      /* allows the user to select a place on the map by dragging the google map marker*/
      google.maps.event.addListener(marker, 'dragend', function() {
        maplat = marker.getPosition().lat(); // latitude from the google map
        maplong = marker.getPosition().lng(); // longitude from the google map
        document.getElementById('ulat').value = ""; // clearing the latitude input box
        document.getElementById('ulong').value = ""; // clearing the longitude input box
        userlat = maplat; // setting user latitude equal to the latitude pulled from the google map
        userlong = maplong; // setting user longitude equal to the longitude pulled from the google map
        /* printing out the user latitude and longitude */
        document.getElementById('comp').innerHTML = "User latitude and longitude: " + userlat + ", " + userlong;
      });

      /* function that takes a location and places a marker on the location */
      function placeMarker(location) {
        /* if a marker has not yet been created then a new marker is created and
        placed at the given loaction */
        if (marker == undefined) {
          marker = new google.maps.Marker({
            position: location,
            map: map,
            animation: google.maps.Animation.DROP,
          });
        } else {
          /* if a marker has already been created then the marker's location is
          moved to the provided location */
          marker.setPosition(location);
          userlat = marker.getPosition().lat(); // setting the user latitude to the marker's latitude
          userlong = marker.getPosition().lng(); // setting the user longitude to the marker's longitude
          /* checks to ensure the latitude and longitude are correctly assigned */
          console.log("TEST LAT: " + marker.getPosition().lat() + " check equals " + userlat);
          console.log("TEST LONG: " + marker.getPosition().lng() + " check equals " + userlong);
        }
        map.setCenter(location); // centering the map on the provided location
      }
    }

    /* function that resets the maplat and maplong variables. this function also
    resets the google autocomplete search bar everytime the compute button is clicked. */
    function reset() {
      maplat = "";
      maplong = "";
      document.getElementById('searchTextField').value = "";
    }

    /* function that centers the marker/map around the user latitude and longitude. */
    function markerPosition() {
      /* if the user inputs latitude and longitude (the userlat and userlong variables
      are not empty) then the marker/map center around the provided latitude/longitude */
      if (userlat && userlong) {
        // creating a google LatLng object
        myLatLng = new google.maps.LatLng({lat: parseFloat(userlat), lng: parseFloat(userlong)});
        marker.setPosition(myLatLng);
        map.setCenter(myLatLng);
      }
    }
  </script>

  <!-- calling the google map api -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCT6pTAuib-JSgt6j1obhJsrcbPm_dxt1s&libraries=places&callback=initMap" async defer>
  </script>
  <br>

  <!--<div class="compute">
    <button onclick="myFunction(); calc(); latlonginput(); resetCounter(); counter(); reset(); markerPosition(); clouds();">COMPUTE</button>
  </div>-->

  <script>
  var userlat; // describes the user's latitude
  var userlong; // describes the user's longitude
  var inputLat = ""; // describes the manually inputted latitude
  var inputLong = ""; // describes the manually inputted longitude
  /* function that controls the manual input of latitude and longitude. displays
  inputted values on the screen and controls user input. */
  function latlonginput() {
    var result; // describes the combined user latitude and longitude
    inputLat = document.getElementById('ulat').value; // pulling user latitude from input box
    inputLong = document.getElementById('ulong').value; // pulling user longitude from input box
    /* only executes if the user has not yet entered information into the google
    auto complete search bar. if information has already been entered into the
    google autocomplete search bar when compute is pressed, that data will be used
    for calculations */
    if (maplat == "" && maplong == "" || maplat == undefined && maplong == undefined) {
      // executes if the input textboxes contain data
      if (inputLat !== "" && inputLong !== "") {
        // ensuring that the inputted values are numbers
        if (parseFloat(inputLat) && parseFloat(inputLong)) {
          userlat = inputLat; // setting user latitude equal to the inputted value
          userlong = inputLong; // setting user longitude equal to the inputted value
          result = userlat + ", " + userlong;
          // displaying the inputted user latitude and longitude
          document.getElementById('comp').innerHTML="User latitude and longitude: " + result;
          /* reseting the input boxes after compute is pressed */
          document.getElementById('ulat').value = "";
          document.getElementById('ulong').value = "";
        }
        /* executes if the user inputted non-number data into text fields */
        else {
          document.getElementById('comp').innerHTML = "Please enter a valid number."
        }
      }
      /* executes if compute is pressed and both input boxes are empty */
      else if (inputLat == "" && inputLong == "") {
        userlat = inputLat;
        userlong = inputLong;
        document.getElementById('comp').innerHTML="Please enter a latitude and longitude.";
      }
      /* executes if compute is pressed and the longitude textbox is empty */
      else if (inputLong == "") {
        userlat = inputLat;
        userlong = inputLong;
        document.getElementById('comp').innerHTML="Please enter a longitude.";
      }
      /* executes if compute is pressed and the latitude textbox is empty */
      else {
        userlat = inputLat;
        userlong = inputLong;
        document.getElementById('comp').innerHTML="Please enter a latitude.";
      }
    }
  }
  </script>

  <div id="rcorners2">
    <script>
    function myFunction() {
      var dt = new Date();
      document.getElementById("datetime").innerHTML = (("0"+dt.getDate()).slice(-2)) +"/"+ (("0"+(dt.getMonth()+1)).slice(-2)) +"/"+ (dt.getFullYear()) +" "+ (("0"+dt.getHours()).slice(-2)) +":"+ (("0"+dt.getMinutes()).slice(-2));
    }
    </script>

    <script>
    var count = null;
    function counter(){
     var i = 0;
     count = setInterval(() => {
       document.getElementById("count").innerHTML = i;
       i+=1;
     }, 1000);
    }
    /* resets the counter everytime compute is pressed */
    function resetCounter() {
      clearInterval(count);
    }
   </script>

     <br>
     <br>
     <br>
     <br>
     <p><b>Date & Time: </b><span id="datetime"></span></p>

    <div><p>

      <b>Location of ISS:</b> <br>
      Latitude: <span id="iss_latitude"> </span>
      <br>
      Longitude: <span id="iss_longitude"> </span></p>
    </div>

      <p><b>Can I see it? </b><span id="result_iss"></span></p>
      <p><b>Weather Description: </b><span id="cloud_descrip"></span></p>
      <p><b> Percent(%) Cloudiness: </b> <span id=cloud_perc></span> </p>
      <p><b>Time since last request for ISS position: </b><span id="count"> </span></p>
    
  </div>


  <div style = "position: relative; top:0px;" id = "header2">
    <br>
    <hr style="border: 4px double #C0ECAD;" />
    <b>Behind The Scenes</b>
    <hr style="border: 4px double #C0ECAD;" />
    <img src="/Calc_FOV.gif" style = "width:500px; height:500px;" id ="rcornersimg"> </div>

<br><br>
<br><br>
  <div style = "position: relative; top:500px;", class="footer">
    <p>Coded By: David Li, Katie Stadler, Renita John;&emsp;
    With Thanks To: Ned Rossman, Nadim El-Jaroudi;&emsp;
    And Sponsored By: The UVA DevHub</p>
  </div>
</body>


<script>


  function calc(){
  fetch("https://api.wheretheiss.at/v1/satellites/25544").then(r => r.json()).then(data => {
  var long = data.longitude;
  var lat = data.latitude;

  document.getElementById("iss_longitude").innerHTML = long.toFixed(4);
  document.getElementById("iss_latitude").innerHTML = lat.toFixed(4);

  const earthradkm = 6371
  var issalt = data.altitude;
  var distkmarc = earthradkm*Math.acos(earthradkm/(earthradkm+issalt))
  var degreesdist = distkmarc*1000*0.0001/11.1

  var ulong = userlong;
  var ulat = userlat;
  console.log("Cheking latitude: " + ulat);
  console.log("Checking longitude: " + ulong);
  var num_long = parseFloat(long);
  var num_lat = parseFloat(lat)
  var num_ulong = parseFloat(ulong)
  var num_ulat = parseFloat(ulat)
  var x_cir = num_long - num_ulong
  var y_cir = num_lat - num_ulat
  var visioncheck = Math.pow(x_cir,2) + Math.pow(y_cir,2)
  if (visioncheck<=Math.pow(degreesdist.toFixed(4),2)){
    document.getElementById("result_iss").innerHTML = "Yes"
  }else{
    document.getElementById("result_iss").innerHTML = "No"
  }
})
}

function clouds(){
  fetch("https://api.openweathermap.org/data/2.5/weather?lat="+userlat+"&lon="+userlong+"&appid=658295ed6de928f64794e23ee97cab06").then(r_weath => r_weath.json()).then(data_weath => {
      var cloudy_desc = data_weath.weather[0].description;
      var cloudy = data_weath.clouds.all;
      document.getElementById("cloud_descrip").innerHTML = cloudy_desc;
      if(cloudy<=33){
      document.getElementById("cloud_perc").innerHTML = cloudy+" There is likely light to no cloud coverage";
    }else if (cloudy<=66) {
      document.getElementById("cloud_perc").innerHTML = cloudy+" There is likely mid to heavy cloud coverage";
    }else{
      document.getElementById("cloud_perc").innerHTML = cloudy+" There is likely very heavy cloud coverage";
    }
  })
}
</script>

</html>
