<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap" rel="stylesheet">
<style>
h1 {
    text-align: center;
    font-size: 60px;
    font-family: 'Orbitron', sans-serif;
}
</style>
</head>

<body>
  <h1>Can I see the ISS?</h1>

  <div> Longitude: </div>
  <div id="iss_longitude"> </div>
  <div> Latitude: </div>
  <div id="iss_latitude"> </div>

</body>

<script>
  fetch("http://api.open-notify.org/iss-now.json").then(r => r.json()).then(data => {
    document.getElementById("iss_longitude").innerHTML = data.iss_position.longitude;
    document.getElementById("iss_latitude").innerHTML = data.iss_position.latitude;
  })
</script>

</html>
