<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap" rel="stylesheet">
<style>
h1 {
    text-align: center;
    font-size: 72px;
    color: white;
    text-shadow: 5px 5px 3px #999;
    font-family: 'Orbitron', sans-serif;
}
.compute button {
  background-color: transparent;
  border: 9px double yellowgreen;
  border-radius: 50px;
  color: white ;
  padding: 10px 24px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: "Helvetica";
  font-weight: bold;
}
.compute button:hover {
  background-color: gray;
}
body {
  background: url(https://i0.wp.com/fieldgradeleader.themilitaryleader.com/wp-content/uploads/2019/02/earth-1149733.jpg?fit=4256%2C2832);
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}
label {
  font-size: 16px;
}
input[type=text] {
  background-color: transparent;
  color: white;
  border-radius: 50px;
}
p {
  color: white;
}
.textbox {
  font-family: "Helvetica";
  font-weight: 100;
  margin: 1px 10 10 30px;
  color: black;
}
#rcorners1 {
  border-radius: 50px;
  background: transparent;
  border: 9px double yellowgreen;
  width: 700px;
  height: 50px;
  margin:0 auto;
  text-align: center;
  color: white;
}
#rcorners1fill {
  border-radius: 50px;
  background: black;
  border: 4px solid yellowgreen;
  width: 600px;
  height: 50px;
  margin:0 auto;
  text-align: center;
  color: white;
}
#rcorners1im {
  border-radius: 50px;
  background: black;
  border: 9px double #484E5E;
  width: 500px;
  height: 500px;
  margin: 20px auto 20px auto;
  text-align: center;
  color: white;
}
#rcorners2 {
   border-radius: 50%;
   background: #3F4457;
   opacity: 0.7;
   width: 475px;
   height: 400px;
   text-align: center;
   font-size: 16px;
   font-family: "Helvetica";
   font-weight: 100;
   line-height: 16px;
   margin: 30px auto 30px auto;
}
#rcorners3 {
  border-radius: 25px;
  background: white;
  width: 600px;
  height: 50px;
  margin:0 auto;
  text-align: center;
  box-shadow: 5px 5px 3px 1px #999;
}
.circletext {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  padding: 15px;
  font-size: 16px;
  font-family: 'Orbitron';
  font-weight: 100;
  color: black;
  text-align: center;
  background: #F4D03F;
  line-height: 16.5px;
}
.locationsearch {
  border-radius: 50px;
  background: transparent;
  border: 4px solid yellowgreen;
  width: 500px;
  height: 30px;
  margin:20px auto 10px auto;
  text-align: center;
  color: white;
  font-family: "Helvetica";
  font-weight: 100;
  padding: 15px 10px 4px 10px;
}
.dropdownbutton {
  background-color: transparent;
  opacity: 0.7;
  color: white;
  padding: 15px;
  font-size: 18px;
  font-family: monospace;
  border-radius: 30px;
  border: 3px solid yellowgreen;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  opacity: 0.7;
  background-color: lightgray;
  min-width: 160px;
  border-radius: 25px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: darkgray;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropdownbutton {background-color: darkgray;}
</style>
</head>

<body>
  <br>
  <h1>Can I see the ISS?</h1>

  <div class="dropdown">
  <button class="dropdownbutton">Satellites</button>
  <div class="dropdown-content">
    <a href="#">Satellite 1</a>
    <a href="#">Satellite 2</a>
    <a href="#">Satellite 3</a>
  </div>
  </div>

  <br>

  <style>
  #map {
    height:350px;
    width:100%;
  }
  .pac-card {
    margin: 0 auto;
    background-color: #fff;
    font-family: Helvetica;
    font-weight: 100;
  }
  </style>

<br>
  <div class="textbox" id="rcorners1">
    <br>
    <form>
      <label>LATITUDE:</label>
      <input type="text" id="ulat"/>
      &emsp;
      <label>LONGITUDE:</label>
      <input type="text" id="ulong"/>
    </form>
    <br>
    <p id="comp"></p>
  </div>
  <br>
  <br>

  <div class=locationsearch>
    <label>Enter a location:</label>
    <input
    id="searchTextField"
    type="text"
    size="50"
    placeholder="Address"/>
  </div>

  <div id="map"> </div>

  <script>
    var maplat;
    var maplong;
    var marker;
    var map;
    function initMap() {
      var latlong = new google.maps.LatLng(38.031078, -78.512772);
      var options = {
        zoom: 12,
        center: latlong
      }
      map = new google.maps.Map(document.getElementById('map'), options);

      var input = document.getElementById('searchTextField');
      var autocomplete = new google.maps.places.Autocomplete(input);

      marker = new google.maps.Marker({
        position: latlong,
        map: map,
        draggable: true,
        animation: google.maps.Animation.DROP
      });

      autocomplete.addListener('place_changed', function() {
        var place = autocomplete.getPlace();
        if (!place.geometry) {
          document.getElementById('comp').innerHTML = "Invalid address: " + input.value;
          return;
        }
        map.fitBounds(place.geometry.viewport);
        marker.setPosition(place.geometry.location);
        marker.setVisible(true);

        maplat = marker.getPosition().lat();
        maplong = marker.getPosition().lng();
        document.getElementById('ulat').value = "";
        document.getElementById('ulong').value = "";
        userlat = maplat;
        userlong = maplong;
        document.getElementById('comp').innerHTML= "Address: " + input.value + ". Latitude and longitude: " + userlat + ", " + userlong;
      });

      google.maps.event.addListener(map, 'click', function(event) {
        placeMarker(event.latLng);
        maplat = marker.getPosition().lat();
        maplong = marker.getPosition().lng();
        document.getElementById('ulat').value = "";
        document.getElementById('ulong').value = "";
        userlat = maplat;
        userlong = maplong;
        document.getElementById('comp').innerHTML = "User latitude and longitude: " + userlat + ", " + userlong;
      });

      google.maps.event.addListener(marker, 'dragend', function() {
        maplat = marker.getPosition().lat();
        maplong = marker.getPosition().lng();
        document.getElementById('ulat').value = "";
        document.getElementById('ulong').value = "";
        userlat = maplat;
        userlong = maplong;
        document.getElementById('comp').innerHTML = "User latitude and longitude: " + userlat + ", " + userlong;
      });

      function placeMarker(location) {
        if (marker == undefined) {
          marker = new google.maps.Marker({
            position: location,
            map: map,
            animation: google.maps.Animation.DROP,
          });
        } else {
          marker.setPosition(location);
          userlat = marker.getPosition().lat();
          userlong = marker.getPosition().lng();
          console.log("TEST LAT: " + marker.getPosition().lat() + " check equals " + userlat);
          console.log("TEST LONG: " + marker.getPosition().lng() + " check equals " + userlong);
        }
        map.setCenter(location);
      }
    }

    function reset() {
      maplat = "";
      maplong = "";
      document.getElementById('searchTextField').value = "";
    }

    function markerPosition() {
      if (userlat && userlong) {
        myLatLng = new google.maps.LatLng({lat: parseFloat(userlat), lng: parseFloat(userlong)});
        marker.setPosition(myLatLng);
        map.setCenter(myLatLng);
      }
    }
  </script>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCT6pTAuib-JSgt6j1obhJsrcbPm_dxt1s&libraries=places&callback=initMap" async defer>
  </script>
  <br>

  <div class="compute">
    <button onclick="myFunction(); calc(); latlonginput(); resetCounter(); counter(); reset(); markerPosition(); clouds();">COMPUTE</button>
  </div>

  <script>
  var userlat;
  var userlong;
  var inputLat = "";
  var inputLong = "";
  function latlonginput() {
    var result;
    inputLat = document.getElementById('ulat').value;
    inputLong = document.getElementById('ulong').value;
    if (maplat == "" && maplong == "" || maplat == undefined && maplong == undefined) {
      if (inputLat !== "" && inputLong !== "") {
        if (parseFloat(inputLat) && parseFloat(inputLong)) {
          userlat = inputLat;
          userlong = inputLong;
          result = userlat + ", " + userlong;
          document.getElementById('comp').innerHTML="User latitude and longitude: " + result;
          document.getElementById('ulat').value = "";
          document.getElementById('ulong').value = "";
        }
        else {
          document.getElementById('comp').innerHTML = "Please enter a valid number."
        }
      } else if (inputLat == "" && inputLong == "") {
        userlat = inputLat;
        userlong = inputLong;
        document.getElementById('comp').innerHTML="Please enter a latitude and longitude.";
      } else if (inputLong == "") {
        userlat = inputLat;
        userlong = inputLong;
        document.getElementById('comp').innerHTML="Please enter a longitude.";
      } else {
        userlat = inputLat;
        userlong = inputLong;
        document.getElementById('comp').innerHTML="Please enter a latitude.";
      }
    }
  }
  </script>

  <div id="rcorners2">
    <script>
    function myFunction() {
      var dt = new Date();
      document.getElementById("datetime").innerHTML = (("0"+dt.getDate()).slice(-2)) +"/"+ (("0"+(dt.getMonth()+1)).slice(-2)) +"/"+ (dt.getFullYear()) +" "+ (("0"+dt.getHours()).slice(-2)) +":"+ (("0"+dt.getMinutes()).slice(-2));
    }
    </script>

    <script>
    var count = null;
    function counter(){
     var i = 0;
     count = setInterval(() => {
       document.getElementById("count").innerHTML = i;
       i+=1;
     }, 1000);
    }
    function resetCounter() {
      clearInterval(count);
    }
   </script>

     <br>
     <br>
     <br>
     <br>
     <p><b>Date & Time: </b><span id="datetime"></span></p>

    <div><p>

      <b>Location of ISS:</b> <br>
      Latitude: <span id="iss_latitude"> </span>
      <br>
      Longitude: <span id="iss_longitude"> </span></p>
    </div>

      <p><b>Can I see it? </b><span id="result_iss"></span></p>
      <p><b>Weather Description: </b><span id="cloud_descrip"></span></p>
      <p><b> Percent(%) Cloudiness: </b> <span id=cloud_perc></span> </p>
      <p><b>Time since last request for ISS position: </b><span id="count"> </span></p>
    <br>
  </div>

  <br>
  <div style = "position: relative; top:0px;" class = "textbox" id = "rcorners1fill">
    <br>
    <Label><b> -  -  - Behind The Scenes -  -  - </b></Label>
    <img style = "position: relative; top:25px; width="500"; id = "rcorners1im" height="500"" src="/Calc_FOV.gif"> </div>

<br><br>

</body>

<script>


  function calc(){
  fetch("https://api.wheretheiss.at/v1/satellites/25544").then(r => r.json()).then(data => {
  var long = data.longitude;
  var lat = data.latitude;

  document.getElementById("iss_longitude").innerHTML = long.toFixed(4);
  document.getElementById("iss_latitude").innerHTML = lat.toFixed(4);

  const earthradkm = 6371
  var issalt = data.altitude;
  var distkmarc = earthradkm*Math.acos(earthradkm/(earthradkm+issalt))
  var degreesdist = distkmarc*1000*0.0001/11.1

  var ulong = userlong;
  var ulat = userlat;
  console.log("Cheking latitude: " + ulat);
  console.log("Checking longitude: " + ulong);
  var num_long = parseFloat(long);
  var num_lat = parseFloat(lat)
  var num_ulong = parseFloat(ulong)
  var num_ulat = parseFloat(ulat)
  var x_cir = num_long - num_ulong
  var y_cir = num_lat - num_ulat
  var visioncheck = Math.pow(x_cir,2) + Math.pow(y_cir,2)
  if (visioncheck<=Math.pow(degreesdist.toFixed(4),2)){
    document.getElementById("result_iss").innerHTML = "Yes"
  }else{
    document.getElementById("result_iss").innerHTML = "No"
  }
})
}

function clouds(){
  fetch("https://api.openweathermap.org/data/2.5/weather?lat="+userlat+"&lon="+userlong+"&appid=658295ed6de928f64794e23ee97cab06").then(r_weath => r_weath.json()).then(data_weath => {
      var cloudy_desc = data_weath.weather[0].description;
      var cloudy = data_weath.clouds.all;
      document.getElementById("cloud_descrip").innerHTML = cloudy_desc;
      if(cloudy<=33){
      document.getElementById("cloud_perc").innerHTML = cloudy+" There is likely light to no cloud coverage";
    }else if (cloudy<=66) {
      document.getElementById("cloud_perc").innerHTML = cloudy+" There is likely mid to heavy cloud coverage";
    }else{
      document.getElementById("cloud_perc").innerHTML = cloudy+" There is likely very heavy cloud coverage";
    }
  })
}
</script>

</html>
