<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap" rel="stylesheet">
<style>
h1 {
    text-align: center;
    font-size: 60px;
    font-family: 'Orbitron', sans-serif;
}
.compute button{
  background-color: dodgerblue;
  border: 1px solid black;
  border-radius: 50px;
  color: white;
  padding: 10px 24px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.compute button:hover {
  background-color: cornflowerblue;
}
body{
  text-align: center;
}
</style>
</head>

<body>
  <h1>Can I see the ISS?</h1>

  <div class="compute">
      <button onclick = "calc()"> COMPUTE</button>
 </div>

  <br><div> Date & Time: </div>

  <div>
    Location of ISS:  &emsp;
    Longitude: &ensp; "<span id="iss_longitude"> </span>", &emsp;
    Latitude: &ensp; "<span id="iss_latitude"> </span>"
    <br>
    Can I see it?: &ensp; <span id="result_iss"></span>
  </div>

  <div>
    Time since last request for ISS position: <span id="count"> </span>
  </div>

</body>

<script>
  fetch("http://api.open-notify.org/iss-now.json").then(r => r.json()).then(data => {
    var long = data.iss_position.longitude;
    var lat = data.iss_position.latitude;

    document.getElementById("iss_longitude").innerHTML = long;
    document.getElementById("iss_latitude").innerHTML = lat;
})

var i = 0;
setInterval(() => {
  console.log(i);
  document.getElementById("count").innerHTML = i;
  i++;
}, 1000)

  function calc(){
  i = 0
  fetch("http://api.open-notify.org/iss-now.json").then(r => r.json()).then(data => {
  var long = data.iss_position.longitude;
  var lat = data.iss_position.latitude;

  document.getElementById("iss_longitude").innerHTML = long
  document.getElementById("iss_latitude").innerHTML = lat

  const earthradkm = 6371
  const issalt = 400
  var distkm = Math.sqrt(Math.pow(issalt + earthradkm, 2) - Math.pow(earthradkm, 2))
  var degreesdist = distkm*1000*0.0001/11.1

  var ulong /*placeholder vars for user's longitude*/
  var ulat /*placeholder vars for user's latitude*/
  var num_long = parseFloat(long);
  var num_lat = parseFloat(lat)
  var num_ulong = parseFloat(ulong)
  var num_ulat = parseFloat(ulat)
  var x_cir = num_long - num_ulong
  var y_cir = num_lat - num_ulat
  var visioncheck = Math.pow(x_cir,2) + Math.pow(y_cir,2)
  if (visioncheck<=Math.pow(degreesdist.toFixed(4),2)){
    document.getElementById("result_iss").innerHTML = true
  }else{
    document.getElementById("result_iss").innerHTML = false
  }
})
}

</script>

</html>
