<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap" rel="stylesheet">
<style>
h1 {
    text-align: center;
    font-size: 60px;
    font-family: 'Orbitron', sans-serif;
}
.compute button{
  background-color: dodgerblue;
  border: 1px solid black;
  border-radius: 50px;
  color: white;
  padding: 10px 24px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.compute button:hover {
  background-color: cornflowerblue;
}
body{
  text-align: center;
}
</style>
</head>

<body>
  <h1>Can I see the ISS?</h1>

  <style>
  #map {
    height:350px;
    width:100%;
  }
  </style>

  <div id="map"> </div>

  <script>
    function initMap() {
      var map;
      var latlong = new google.maps.LatLng(30.822, 21.508);
      var options = {
        zoom: 2,
        center: latlong
      }
      map = new google.maps.Map(document.getElementById('map'), options);
    }
  </script>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC10mzKXpMfjGa1LMZgKGEgvDvAs_WKZ20&libraries=places&callback=initMap" async defer>
  </script>

  <br>

  <div class="compute">
      <button onclick = "calc()"> COMPUTE</button>
 </div>

  <br><div> Date & Time: </div>

  <div>
    Location of ISS:  &emsp;
    Longitude: &ensp; "<span id="iss_longitude"> </span>", &emsp;
    Latitude: &ensp; "<span id="iss_latitude"> </span>"
  </div>

  <div>
    Time since last request for ISS position: <span id="count"> </span>
  </div>

</body>

<script>
  fetch("http://api.open-notify.org/iss-now.json").then(r => r.json()).then(data => {
    var long = data.iss_position.longitude;
    var lat = data.iss_position.latitude;

    document.getElementById("iss_longitude").innerHTML = long;
    document.getElementById("iss_latitude").innerHTML = lat;
})

var i = 0;
setInterval(() => {
  console.log(i);
  document.getElementById("count").innerHTML = i;
  i++;
}, 1000)

  function calc(){
  i = 0
  fetch("http://api.open-notify.org/iss-now.json").then(r => r.json()).then(data => {
  var long = data.iss_position.longitude;
  var lat = data.iss_position.latitude;

  document.getElementById("iss_longitude").innerHTML = long
  document.getElementById("iss_latitude").innerHTML = lat
})
}

</script>

</html>
