<!DOCTYPE html>
<html>
<head>
  <br>
</head>

<style>
  body {
    background: url(https://www.onlygfx.com/wp-content/uploads/2018/02/abstract-blue-paint-texture-4.jpg); background-size: 150%, 150%;
  }

  .titlebox {
    float: center;
    background-color: #FFFFFF;
    font-family: "Playfair";
    border: 10px solid #239B56;
    margin: 1px 10 10 30px;
  }

  .textbox {
    background-color: white;
    font-family: "Playfair";
    border: 5px solid #239B56;
    margin: 1px 10 10 30px;
  }
</style>

<body>

  <div class="titlebox">
    <h1>
      <center>
        <span style="padding: 0.3em; background-color:#FFFFFF">
          <font face="Playfair" size=24 color=black> KATIE'S PAGE </font> <br/ >
        </span>
      </center>
    </h1>
  </div>
  <br>

  <marquee>
    <img src="https://i.pinimg.com/originals/08/4d/be/084dbedb06735117c167a244823ba073.png" alt="Scrolling Cat" style="width:100px;height:100px;">
  </marquee>

  <br>
  <div style="text-align: center" class="textbox">
    <h2>
      <right>
        <span style="padding: 0.3em; background-color:#FFFFFF">
          <font face="Playfair"> Hello, I am Katie, and this is my page!
          </font>
        </span>
      </right>
    </h2>
  </div>
  <br>

  <div style="background-color: white; text-indent: 2em;" class="textbox">
    <font face="Playfair">
      <p>
        Hi everyone! My name is Katie, I am a rising third year from
        Charlottesville, Virginia. My parents were in the Navy, so I was born in
        Agana, Guam, and moved around a bit before settling down in
        Charlottesville. I went to Charlottesville High School but spent my junior
        year of high school studying abroad in Beijing, China. I am in the School
        of Commerce, but double majoring in computer science. I joined the
        computer science major rather late, so I am excited to learn more this
        summer.
      </p>
      <p>
        As for hobbies, I really enjoy hiking and photography. I enjoy running
        and exploring new places, which can be hard to do at UVA since I have
        lived in Charlottesville for a while. I also really enjoy learning new
        things and researching obscure topics when I’m bored.
      </p>
      <p>
  	    I would say one of my strengths is that I am detail oriented. At the same
        time, focusing on the small details can often be time-consuming, so I try
        to step back and look at the bigger picture. Another one of my strengths
        is that I am organized. I think that staying organized makes work much
        easier and more productive. My biggest weakness is that I have trouble
        asking for help. I want to be efficient in my own work, but I’ve also
        realized that asking for help is often the more efficient alternative.
        Another one of my weaknesses is that I am easily distracted. At the same
        time, I can assess when a task needs to be done. I’m excited to be working
        with you all this summer!
      </p>
    </font>
  </div>
  <br>
  
  <div style="text-align: center;" class="titlebox">
    <font face="Playfair">
      COUNTER: <div id="variable_here"> </div>
    </font>
  </div>

  <script>
   var i = 0;
   setInterval(() => {
     console.log(i);
     document.getElementById("variable_here").innerHTML = i;
     i+=5;
   }, 1000);
 </script>

</body>
</html>
