<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div style="text-align: center;">
    <h1>hi ipp, I am Ned Rossman</h1>
    <div id="variable_here"></div>
    <div id="cat_fact"></div>
  </div>

  <script>
    var i = 0;
    setInterval(() => {
      console.log(i);
      document.getElementById("variable_here").innerHTML = i;
      i++;
    }, 1000);

    fetch("https://meowfacts.herokuapp.com/").then(r => r.json()).then(data => {
      document.getElementById("cat_fact").innerHTML = data.data[0];
    })
  </script>

</body>
</html>
